.entity-root {
  /* background-color: yellow; */
  display: flex;
  align-content: center;
  width: 98%;
  height: 86%;
  margin: 16px auto auto auto;
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
  gap: 16px;
}

.entity-listing {
  width: 50%;
  height: 100%;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.entity-body {
  display: flex;
  flex-flow: column;
  width: 50%;
  height: auto;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
}

/* -----------------------------------------------------------------   LISTING   -------------- */

.cb-arrange-horizontally > * {
  display: inline-block;
  padding: 8px 8px 8px 8px;
}

.entity-active-data-grid {
  flex-grow: 1;
}

.entity-data-grid-footer {
  text-align: right;
  padding: 4px;
  padding-right: 16px;
}

/* -----------------------------------------------------------------   ENTITY - NAV  -------------- */

.entity-nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 16px 0 16px;
  gap: 16px;
}

.entity-nav button {
  width: 52px;
  height: 52px;
}

.entity-curd {
  flex-grow: 1;
  display: flex;
}

.entity-view-none {
  color: gray;
  font-style: italic;
  font-size: large;
  text-align: center;
  padding: 48px;
  padding-top: 80px;
}

.entity-new {
  padding: 16px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* -----------------------------------------------------------------   ENTITY - NEW  -------------- */

.entity-view {
  padding: 16px;
  height: auto;
  flex-grow: 1;
}

.entity-view-type {
  font-size: larger;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 40px;
}

.entity-view-name {
  margin-left: 12px;
}

.entity-view table {
  border-collapse: collapse;
  letter-spacing: 1px;
  width: 100%;
}

.entity-view th {
  padding: 8px 10px;
  text-align: left;
}

.entity-view td {
  padding: 8px 10px;
  text-align: left;
  width: 24%;
}

.entity-view tbody > tr:nth-of-type(odd) {
  background-color: rgb(240, 240, 240);
}

.entity-view tfoot td {
  font-style: italic;
  text-align: right;
  font-size: 0.8rem;
}

.entity-not-load {
  color: yellow;
  background-color: black;
  font-size: x-large;
  font-style: italic;
  padding: 16px;
  border: 1px solid;
}
.entity-schema-error {
  color: yellow;
  background-color: cadetblue;
  font-size: x-large;
  font-style: italic;
  padding: 16px;
  border: 1px solid;
}
