.entity-root {
  /* background-color: yellow; */
  display: flex;
  align-content: center;
  width: 98%;
  height: 84%;
  margin: 16px 4px auto 4px;
  padding: 16px;
  border: 1px solid #00838f;
  border-radius: 4px;
  gap: 16px;
  /* background-color: black; */
}

.entity-listing {
  width: 50%;
  height: 100%;
  border: 1px solid #00838f;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  /* background-color: lightblue; */
}

.entity-body {
  display: flex;
  flex-flow: column;
  width: 50%;
  height: auto;
  border: 1px solid #00838f;
  border-radius: 4px;
  padding: 8px;
  /* background-color: lightblue; */
}

/* -----------------------------------------------------------------   LISTING   -------------- */

.cb-arrange-horizontally > * {
  display: inline-block;
  padding: 8px 8px 8px 8px;
}

.entity-active-data-grid {
  flex-grow: 1;
}

.entity-data-grid-footer {
  text-align: right;
  padding: 4px;
  padding-right: 16px;
}

/* -----------------------------------------------------------------   ENTITY - NAV  -------------- */

.entity-nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 16px 0 16px;
  gap: 16px;
  /* background-color: antiquewhite; */
}

.entity-nav button {
  width: 52px;
  height: 52px;
}

.entity-curd {
  flex-grow: 1;
  display: flex;
}

.entity-view-none {
  color: gray;
  font-style: italic;
  font-size: large;
  text-align: center;
  padding: 48px;
  padding-top: 80px;
}

/* -----------------------------------------------------------------   ENTITY - NEW  -------------- */
.entity-new {
  padding: 16px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* -----------------------------------------------------------------   ENTITY - VIEW  -------------- */

.entity-view {
  padding: 8px 8px 8px 8px;
  height: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}

.entity-view-header {
  display: flex;
  font-size: larger;
  font-weight: bold;
  align-items: center;
  /* background-color: #00838f; */
  padding: 2px;
  margin-top: 0px;
  margin-bottom: 8px;
}
.entity-view-name {
  /* background-color: aqua; */
  padding: 0 16px 0 16px;
  letter-spacing: 1px;
}
.entity-view-cb {
  flex-grow: 1;
  text-align: right;
  padding-right: 0px;
  /* background-color: yellow; */
}

.entity-not-load {
  color: yellow;
  background-color: black;
  font-size: x-large;
  font-style: italic;
  padding: 16px;
  border: 1px solid;
}
.entity-schema-error {
  color: yellow;
  background-color: cadetblue;
  font-size: x-large;
  font-style: italic;
  padding: 16px;
  border: 1px solid;
}

/* -----------------------------------------------------------------   ENTITY - VIEW - TABLE -------------- */

.entity-table-wrapper {
  flex-grow: 1;
  overflow: auto;
  height: 540px;
  scrollbar-color: #006064 rgb(240, 240, 240);
  scrollbar-width: thin;
  /* max-height: 100%; */
  /* background-color: blueviolet; */
}

.entity-view table {
  /* border-collapse: collapse; */
  letter-spacing: 1px;
  /* min-width: 80%; */
  /* max-width: 90%;
  overflow: auto; */
  width: 100%;
}

.entity-view td {
  padding: 8px 10px;
  text-align: left;
  width: 40%;
}

.entity-view th {
  padding: 8px 10px;
  text-align: left;
  min-width: 60%;
}

.entity-view tbody {
  /* overflow: auto; */
}

/* .entity-view tbody > tr:nth-of-type(odd) {
  background-color: rgb(240, 240, 240);
} */
.entity-view tbody > tr:nth-of-type(odd) {
  td {
    background-color: rgb(240, 240, 240);
  }
  th {
    background-color: #e0f7fa;
  }
}

.entity-view tfoot td {
  font-style: italic;
  text-align: right;
  font-size: 0.8rem;
}

.entity-field > * {
  display: inline-block;
}

.entity-field-space {
  width: 24px;
}
